<div class="container">
    <h1>Car Form</h1>
    <form (ngSubmit)="createCar()">
        <label for="brand">Brand:</label>&nbsp;
        <input type="text" name="brand" [(ngModel)]="carBrand">
        <br><br>
        <label for="model">Model:</label>&nbsp;
        <input type="text" name="model" [(ngModel)]="carModel">
        <br><br>
        <label for="seats">Seats:</label>&nbsp;
        <input type="number" min="2">
        <br><br>
        <label for="license_plate">License Plate:</label>&nbsp;
        <input type="text">
        <br><br>
        <label for="engine_type">Engine Type:</label>&nbsp;
        <select [(ngModel)]="carEngTyp" name="engineType">
            <option value="BEV">Electric</option>
            <option value="PHEV">Plugin Hybrid</option>
            <option value="GASOLINE">Gasoline</option>
            <option value="DIESEL">Diesel</option>
        </select>
        <br><br>
        <label for="autonomy">Autonomy:</label>&nbsp;
        <input type="number" min="0">
        <br><br>
        <label for="color">Color:</label>&nbsp;
        <input type="text">
        <br><br>
        <label for="image">Image:</label>&nbsp;
        <input type="file">
        <br><br>
        <button type="submit" class="btn btn-success">Save</button>
    </form>

    <!-- * POPUPS *  -->
    <!-- Success popup -->
    <!--<div *ngIf="success" class="alert alert-success">
        Car added successfully!
    </div>-->
    <!-- Error popup -->
    <!--<div *ngIf="error" class="alert alert-danger">
        {{ errorMessage }}
    </div>-->

</div>